<?xml version="1.0" ?>
<!--
  ~ Copyright (c) 2017 SOZO Design. All rights reserved.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dev" translate="label">
            <group id="checkoutsuccess" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Checkout Success Testing Module</label>
                <field id="enable" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Activate</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Activate the checkout success testing module</comment>
                </field>
            </group>
        </section>
    </system>
</config>
